{% extends 'base.html' %}
{% load static %}

{% block content %}
<br/><br/>
<link rel="stylesheet" type="text/css" href="{% static 'css/add.css' %}">
<div class="bg-image">
  <img class="img-fluid" src="{% static 'admin2.jpg' %}" >
</div>
  <div class="form-container">
    <h2> New Supplier</h2>
    <p>supplier details</p>
    <form action="/page6/" method="post" class="form">
      {% csrf_token %}
      <div class="form-group">
        <label for="name"> Name:</label>
        <input type="text" name="name" id="name" class="form-control">
      </div>
      <div class="form-group">
        <label for="phone">Phone Number:</label>
        <input type="text" name="phone" id="phone" class="form-control" inputmode="numeric" pattern="[1-9]{1}[0-9]{9}">
      </div>
      <br/>
      <button type="submit" class="btn btn-primary">ADD</button>
      <a href="{% url 'add_tables' %}" class="btn btn-primary">Back</a>
      <a href="{% url 'view_sup' %}" class="btn btn-primary">View</a>
    </form>
  </div>
  <br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
{% endblock %}
