{% extends 'base.html' %}
{% load static %}

{% block content %}
<br/><br/>
<link rel="stylesheet" type="text/css" href="{% static 'css/add.css' %}">
<div class="bg-image">
  <img class="img-fluid" src="{% static 'admin2.jpg' %}" >
</div>
  <div class="form-container">
    <h2> New Location</h2>
    <p>location details</p>
    <form action="/page8/" method="post" class="form">
      {% csrf_token %}
      <div class="form-group">
        <label for="city">City:</label>
        <input type="text" name="city" id="city" class="form-control">
      </div>
      <div class="form-group">
        <label for="country">Country</label>
        <input type="text" name="country" id="country" class="form-control" >
      </div>
      <br/>
      <button type="submit" class="btn btn-primary">ADD</button>
      <a href="{% url 'add_tables' %}" class="btn btn-primary">Back</a>
      <a href="{% url 'view_location' %}" class="btn btn-primary">view</a>
    </form>
  </div>
  <br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
{% endblock %}
